.viewer-nav {
    width: 200px;
    height: calc(100vh - 16px);
    background-color: var(--surface-e);
    position: absolute;
    border-radius: 8px 0 0 8px;
    right: 0;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.rect-data{
    display: flex;
    flex-direction: row;
}
.measurements{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.measurement-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.measurement {
    margin: 0
}

.tag {
    background-color: var(--surface-d);
    min-width: 20px;
    text-align: center;
    border-radius: 8px 0 0 8px;
}
