
*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    font-weight: normal;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.full-h-table > .p-datatable-wrapper{
    max-height: calc(100vh - 79px);
    min-height: calc(100vh - 79px);
    background-color: var(--surface-a);
}