
*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    font-weight: normal;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}